h1 {
    color: #FFFFFF;
}

.heading{
    background-color: #008080;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.pics{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pic1{
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 310px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #20b2aa ;
}